body{
    background: #f2f4f8;
    font-family: Open Sans;
}

.container{
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh;
}

.card{
    width: 220px;
    height: 321px;
    background: #fff;
    border-top-right-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 0 14px 26px rgba(0, 0, 0, 0.04);
    transform: all 0.3s ease-out;
    text-decoration: none;
}

.card:hover{
    transform: translateY(-5px) scale(1.005) translateY(0);
    box-shadow: 0 24px 36px rgba(0, 0, 0, 0.11), 0 24px 46px #3b3d4196;
}

.card:hover .overlay{
    transform: scale(4) translateZ(0);
}

.card:hover .circle{
    border-color: #fff;  
}

.card p{
    font-size: 20px;
    color: #313535;
    margin-top: 30px;
    z-index: 1000;
    text-transform: capitalize;
    transition: color 0.3s ease-out;
}

.card:hover p{
    color: #fff;
}

.circle{
    width: 131px;
    height: 131px;
    border-radius: 50%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    transform: all 0.3s ease-out;
}

.one .circle{
    border: 2px solid #4A00E0;
}

.two .circle{
    border: 2px solid #195204;
}

.three .circle{
    border: 2px solid #2da9e2;
}

.four .circle{
    border: 2px solid #e0dc00;
}

.circle::after{
    content: "";
    width: 118px;
    height: 118px;
    display: block;
    position: absolute;
    border-radius: 50%;
    top: 7px;
    left: 7px;
    transition: opacity 0.3s ease-out;
}

.one .circle::after{
    background: linear-gradient(to right, #4A00E0, #8E2DE2);
}

.two .circle::after{
    background: linear-gradient(to right, #52c234, #195204);
}

.three .circle::after{
    background: linear-gradient(to right, #00e0d5, #2da9e2);;
}

.four .circle::after{
    background: linear-gradient(to right, #e0dc00, #e2942d);
}

.card svg{
    color: #3b3d41;
    z-index: 10000;
    transform: translateZ(0);
}

.overlay{
    width: 118px;
    position: absolute;
    height: 118px;
    border-radius: 50%;
    top: 70px;
    left: 50px;
    z-index: 0;
    transition: transform 0.3s ease-out;
}

.one .overlay {
    background: linear-gradient(to right, #4A00E0, #8E2DE2);
}

.two .overlay {
    background: linear-gradient(to right, #52c234, #195204);
}

.three .overlay {
    background: linear-gradient(to right, #00e0d5, #2da9e2);;
}

.four .overlay {
    background: linear-gradient(to right, #e0dc00, #e2942d);
}